@font-face {
    font-family: 'Oxygen';
    src: url(font/Oxygen-Bold.otf)
}
@font-face {
    font-family: 'roboto-slab-light';
    src: url(font/roboto-slab.light.ttf)
}
@font-face {
    font-family: 'roboto-slab-regular';
    src: url(font/roboto-slab.regular.ttf)
}
@font-face {
    font-family: 'latoMedium';
    src: url(font/Lato-Medium.ttf)
}
* {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    background-color: #dddddd;
}
#demo-page {
    background-color: #dddddd;
}
#site-home {
    height: 739px;
}
#musthead {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 3000;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
    display: flex;
}
.must {
    display: block;
}
.site-menu {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.site-logo {
    padding-left: 15px;
    padding-right: 15px;
    width: 35%;
    display: flex;
}
.logo-style {
    width: 100%;
}
.main-nav {
    float: left;
    width: 42%;
    display: block !important;
    text-align: right;
    position: relative;
    padding: 10px;
    padding-top: 12px;
}
.menu-container {
    text-align: center;
    font-family: 'Oxygen';
}
.nav-opt {
    padding: 8px;
    font-size: 17px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #152944;
}
.active {
    color: #152944;
}
.active:hover {
    color: #fff;
}
#social-nav {
    float: left;
    width: 20%;
    display: block !important;
    text-align: left;
    position: relative;
    padding: 9px;
    margin-left: -25px;
    padding-top: revert;
}
.fa {
    padding: 10px;
    font-size: 22px;
    width: 22px;
    text-align: center;
    text-decoration: none;
    margin: 2px 5px;
    border-radius: 50%;
}
.fa-facebook {
    border: 2px solid #ccc;
    border-radius: 50%;
    color: black;
}
.fa-facebook:hover {
    background: #3B5998;
    color: white;
    border-color: transparent;
}
.fa-twitter {
    border: 2px solid #ccc;
    border-radius: 50%;
    color: black;
}
.fa-twitter:hover {
    background: #55ACEE;
    color: white;
    border-color: transparent;
}
.fa-instagram {
    border: 2px solid #ccc;
    border-radius: 50%;
    color: black;
}
.fa-instagram:hover {
    background: #125688;
    color: white;
    border-color: transparent;
}
.fa-youtube {
    border: 2px solid #ccc;
    border-radius: 50%;
    color: black;
}
.fa-youtube:hover {
    background: #bb0000;
    color: white;
    border-color: transparent;
}
#intro-section {
    width: 100%;
    height: 80%;
    display: block;
}
.wrapper {
    display: fleax;
    padding: 40px 0;
}
.text {
    padding: 40px;
    width: 50%;
    float: left;
    margin-top: 5%;
    text-align: center;
}
.text-clone {
    width:45%; 
    margin-top:0;
}
.text h2 {
    font-size: 60px;
    font-family: 'roboto-slab-light';
}
.text p {
    font-family: 'latoMedium';
    font-size: 20px;
}
button {
    padding: 17px;
    border: none;
    border-radius: 25px;
    background-color: #d9adad;
    font-size: 19px;
    outline: none;
    margin-top: 25px;
    font-family: 'roboto-slab-regular';
}
.image {
    width: 40%;
    float: right;
}
.hero-image {
    height: 600px;
    width: 500px;
}
.hero-image2 {
    height: 460px;
    width: 520px;
    margin-top: 35px;
}
#site-details {
    height: 625px;
    background-color: #d9adad;
}



#site-experience {
    height: 750px;
    background-color: #84a9ac;
}
.txt {
    height: 100px;
    padding: 30px 100px;
}
.container {
    padding: 0 95px;
}
.logo-exp {
    display: flex;
    margin-top: 6%;
}
.exp-logo {
    height: 220px;
}
.exp-cell {
    width: 240px;
    height: 170px;
    padding: 25px;
    background-color: #ffffff;
}
.exp-cell a {
    text-decoration: none;
    color:  black;
}
.exp-cell a:hover {
    color: #152944;
} 
.exp-cell h3 {
    font-family: 'roboto-slab-regular';
}
.exp-cell p {
    font-family: 'latoMedium';
}
.left {
    float: left;
}
.right {
    float: right;
}





#site-skills {
    height: 600px;
    background-color:  #89c9b8;
    padding: 20px 100px;
}
.pattern blockquote{
    font-size: 25px;
    font-family: 'roboto-slab-regular';
    text-align: center;
}
.pattern1 {
    width: 45%;
    float: left;
    padding: 0 20px 100px 0;
}
.pattern2 {
    width: 45%;
    float: left;
    padding: 0px 0 100px 80px;
}
.contant {
    width: 100%;
    background-color: whitesmoke;
}
.skill {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    color: white;
}
.webDesign {
    width: 90%;
    background-color: #152944;
}
.webDevolopment {
    width: 80%;
    background-color: #152944;
}
.js {
    width: 75%;
    background-color: #152944;
}
.python {
    width: 50%;
    background-color: #152944;
}
.sql {
    width: 40%;
    background-color: #152944;
}
.design {
    width: 80%;
    background-color: #152944;
}
#education {
    display: block;
    background-color:  #89c9b8;
}
.pattern-clone {
    padding: 25px;
}
.timeline {
    padding: 20px;
}
.part1 {
    width: 99%;
    padding: 20px;
    float: left;
}
.part2 {
    width: 60%;
    padding: 20px;
    margin: auto;
}
.text-box {
    text-align: center;
    width: 250px;
    padding: 25px;
    background-color: #a2d3dd;
    border-radius: 25px;
}




#site-about {
    height: 600px;
    background-color: #d9adad;
    padding: 20px 100px;
}


#site-portfolio {
    height: 625px;
    background-color:  #84a9ac;
}


#site-blog {
    height: 625px;
    background-color:#dddddd;
}


#site-contact {
    height: 625px;
    background-color: #a2d3dd;
}


#site-footer {
    height: 350px;
    background-color: #dddddd;
}
